# Sample OncillaRobot configuration file

motors = {

    maxTorque = 500;
    maxSpeed = 31000;
    maxAccel = 31000;
    preload = 1332;
    stiffness = 1000;
    damping = 1000;
    pGain = 500;
    iGain = 50;
    dGain = 250;
    posUpdate = 2;


    left-fore:
    {
            
            maxTorque = 500;
            maxSpeed = 31000;
            maxAccel = 31000;
            preload = 1332;
            stiffness = 1000;
            damping = 1000;
            pGain = 500;
            iGain = 50;
            dGain = 250;
            posUpdate = 2;

            M1: 
            {
                maxPos = 1200;
                maxTorque = 500;
                maxSpeed = 31000;
                maxAccel = 31000;
                preload = 1332;
                stiffness = 1000;
                damping = 1000;
                pGain = 500;
                iGain = 50;
                dGain = 250;
                posUpdate = 2;

            };

            M2: 
            {
                maxPos = 1350;
                maxTorque = 500;
                maxSpeed = 31000;
                maxAccel = 31000;
                preload = 1332;
                stiffness = 1000;
                damping = 1000;
                pGain = 500;
                iGain = 50;
                dGain = 250;
                posUpdate = 2;
            };

    };

    right-fore:
    {
            
            maxTorque = 500;
            maxSpeed = 31000;
            maxAccel = 31000;
            preload = 1332;
            stiffness = 1000;
            damping = 1000;
            pGain = 500;
            iGain = 50;
            dGain = 250;
            posUpdate = 2;

            M1: 
            {
                maxPos = 1200;
                maxTorque = 500;
                maxSpeed = 31000;
                maxAccel = 31000;
                preload = 1332;
                stiffness = 1000;
                damping = 1000;
                pGain = 500;
                iGain = 50;
                dGain = 250;
                posUpdate = 2;
            };

            M2: 
            {
                maxPos = 1350; 
                maxTorque = 500;
                maxSpeed = 31000;
                maxAccel = 31000;
                preload = 1332;
                stiffness = 1000;
                damping = 1000;
                pGain = 500;
                iGain = 50;
                dGain = 250;
                posUpdate = 2;
            };

    };

    left-hind:
    {
            
            maxTorque = 500;
            maxSpeed = 31000;
            maxAccel = 31000;
            preload = 1332;
            stiffness = 1000;
            damping = 1000;
            pGain = 500;
            iGain = 50;
            dGain = 250;
            posUpdate = 2;

            M1: 
            {
                maxPos = 1200;
                maxTorque = 500;
                maxSpeed = 31000;
                maxAccel = 31000;
                preload = 1332;
                stiffness = 1000;
                damping = 1000;
                pGain = 500;
                iGain = 50;
                dGain = 250;
                posUpdate = 2;
            };

            M2: 
            {
                maxPos = 2200;
                maxTorque = 500;
                maxSpeed = 31000;
                maxAccel = 31000;
                preload = 1332;
                stiffness = 1000;
                damping = 1000;
                pGain = 500;
                iGain = 50;
                dGain = 250;
                posUpdate = 2;
            };

    };

    right-hind:
    {
            
            maxTorque = 500;
            maxSpeed = 31000;
            maxAccel = 31000;
            preload = 1332;
            stiffness = 1000;
            damping = 1000;
            pGain = 500;
            iGain = 50;
            dGain = 250;
            posUpdate = 2;

            M1: 
            {
                maxPos = 1200;
                maxTorque = 500;
                maxSpeed = 31000;
                maxAccel = 31000;
                preload = 1332;
                stiffness = 1000;
                damping = 1000;
                pGain = 500;
                iGain = 50;
                dGain = 250;
                posUpdate = 2;
            };

            M2: 
            {
                maxPos = 1350;
                maxTorque = 500;
                maxSpeed = 31000;
                maxAccel = 31000;
                preload = 1332;
                stiffness = 1000;
                damping = 1000;
                pGain = 500;
                iGain = 50;
                dGain = 250;
                posUpdate = 2;
            };

    };

};


servos = {

    maxPos = 1.0;
    minPos = -1.0;
    minPulseLength = 55000;
    maxPulseLength = 65000;

};

xenomai = {

    executor_period = 5;

};

misc = {

    queue_size = 10000;

};

